#input {
	width: 80%;
	height: 30%;
}
#output {
	margin-top: 2em;
}
TABLE {
	border-collapse: collapse;
}
TH, TD {
	text-align: center;
	border: 1px solid black;
}
.condition.depth-1 {
	background-color: #66A3FF;
}
.condition.depth-2 {
	background-color: #B2D1FF;
}
.condition.depth-3 {
	background-color: #E0EDFF;
}
.operator {
	background-color: #E6E6E6;
}
.begin-expression {
	border-left: 3px solid black;
}
.end-expression {
	border-right: 3px solid black;
}